@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(215, 215, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: rgb(255, 255, 255);
  height: 89px;
}

#nav-button {
  align-self: center;
  justify-self: center;
  color: rgb(160, 160, 255);
  text-decoration: none;
  border: 2px solid rgb(160, 160, 255);
  padding: 8px 13px;
  border-radius: 34px;
}

#nav-button:hover {
  align-self: center;
  justify-self: center;
  color: rgb(25, 25, 25);
  background-color: rgb(160, 160, 255);
  text-decoration: none;
  border: 2px solid rgb(160, 160, 255);
  padding: 8px 13px;
  border-radius: 34px;
}

.navlogo {
  width: 55px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  gap: 21px;
  font-size: 26px;
  align-items: center;
  font-family: "Bruno Ace SC", cursive;
}

#navbarTogglerDemo02 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.home-intro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(100vh - 89px);
  margin-top: 0;
  background-size: cover;
}

.home-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: fit-content;
  background: linear-gradient(45deg, rgba(5, 40, 101, 1), rgba(5, 5, 63, 0));
  background-size: cover;
  margin: 34px;
  border-radius: 34px;
}

.techra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 38%;
  color: rgb(160, 160, 255);
}

.techra h1 {
  font-family: "Bruno Ace SC", cursive;
  color: rgb(255, 255, 255);
  font-size: 89px;
  text-shadow: 0 0 13px rgb(40, 40, 160);
}

.valueprop {
  border-radius: 21px;
  width: 50%;
  padding: 55px 21px;
  text-shadow: 0 0 5px rgb(25, 25, 25);
  background: linear-gradient(-34deg, rgba(0, 0, 0, 1), rgba(25, 25, 25, 0.34));
}

.valueprop h1 {
  color: rgb(5, 5, 40);
  font-size: 55px;
  font-weight: bolder;
}

.home-page section {
  margin: 144px auto;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 89px 144px;
  background: linear-gradient(
    34deg,
    rgba(255, 255, 255, 0.62),
    rgba(255, 255, 255, 1)
  );
  background-size: cover;
  margin: 144px 55px;
  border-radius: 21px;
}

.subhead {
  margin: 21px auto;
}

.home-headline h1 {
  color: rgb(255, 255, 255);
}

.subhead {
  font-family: "Source Serif Pro", serif;
  font-weight: 900;
}

article p {
  font-family: "Source Serif Pro", serif;
  font-size: 21px;
  font-weight: bolder;
}

article ul {
  width: fit-content;
  margin: 0 auto;
  list-style: none;
}

article ul li {
  margin: 13px auto;
  text-decoration: underline;
}

.home-page form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 21px;
}
.home-page form input[type="text"] {
  width: 377px;
  height: 40px;
  border-radius: 34px;
  text-align: center;
  border: 2px solid rgb(160, 160, 255);
}

.home-page form button[type="submit"] {
  width: 233px;
  height: 40px;
  margin: 0 auto;
  border-radius: 34px;
  text-align: center;
  background-color: rgb(5, 5, 40);
  color: rgb(160, 160, 255);
}

.offer {
  padding: 89px 144px;
  background: linear-gradient(
    34deg,
    rgba(160, 160, 255, 1),
    rgba(101, 101, 255, 1)
  );
  background-size: cover;
  margin: 144px auto;
  border-radius: 21px;
  box-shadow: 0 0 13px rgb(40, 40, 160);
}

footer {
  padding: 89px 55px;
  background-color: rgb(25, 25, 25);
}

footer ul {
  list-style: none;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(63, 63, 255);
}

#footer-logo {
  width: 144px;
  height: 144px;
  background-size: cover;
  margin-top: -13px;
}

.home-page .container {
  padding: 0;
}

.spinner-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 25, 25);
}

.end-copy img {
  width: 144px;
}

.end-copy article {
  margin-top: -89px;
}

.clients {
  display: flex;
  flex-direction: row;
  gap: 55px;
  justify-content: center;
  align-items: center;
}

.footer-social-media {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.footer-social-media div {
  width: 34px;
  height: 34px;
  background-size: cover;
}

.contact-page section {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-evenly;
}

.contact-page h1 {
  margin-top: 21px;
}

.contact-page .info {
  margin-top: 34px;
}

.contact-page .form {
}

.contact-page form {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin: 21px auto;
  width: 62%;
}

.contact-header {
  margin: 21px auto;
  width: 62%;
}

.contact-page form textarea {
  height: 233px;
  resize: none;
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #000;
}

.contact-page form .names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 13px;
}

.contact-page form .names input[type="text"] {
  width: 50%;
  text-align: center;
}

.contact-page form input[type="text"] {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}

.contact-page form button[type="submit"] {
  width: 233px;
  height: 40px;
  margin: 0 auto;
  border-radius: 34px;
  text-align: center;
  background-color: rgb(5, 5, 40);
  color: rgb(160, 160, 255);
}

.contact-page form button[type="submit"]:hover {
  width: 233px;
  height: 40px;
  margin: 0 auto;
  border-radius: 34px;
  text-align: center;
  background-color: rgb(160, 160, 255);
  color: rgb(5, 5, 40);
}

.contact-social-media {
  width: fit-content;
  margin: 34px auto;
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.contact-social-media div {
  height: 55px;
  width: 55px;
  background-size: cover;
}

.about-page {
  background-color: #fff;
}

.about-page .container {
  background-color: #fff;
}

.about-page .mystory {
  width: 86%;
  margin: 0 auto;
  padding: 34px;
}

.about-page .mystory h3 {
  margin-bottom: 34px;
  text-align: center;
}
.about-page .mystory p {
  text-align: start;
}

.about-page .companymission {
  width: 86%;
  margin: 0 auto;
  padding: 34px;
}

.about-page .techra {
  margin: 0 auto;
  height: calc(100vh - 89px);
}

.scroll-icon {
  width: 55px;
  height: 55px;
  background-size: contain;
  margin: 0 auto;
}
